video {
  background: rgb(48, 48, 48);
  background: -moz-linear-gradient(
    90deg,
    rgba(48, 48, 48, 1) 40%,
    rgba(254, 254, 254, 0.38699229691876746) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(48, 48, 48, 1) 40%,
    rgba(254, 254, 254, 0.38699229691876746) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(48, 48, 48, 1) 40%,
    rgba(254, 254, 254, 0.38699229691876746) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#303030",endColorstr="#fefefe",GradientType=1);
}
