.advertisingWrapper {
    display: flex;
    justify-content: space-around ;
    width: 100%;
}

.wrapperVac {
    width: 100%;

    background-color: rgba(0, 0, 0, 0.411);
}
.addService{
    font-size: 34px;
}
.allServiceContainer{
    padding-left: 520px;
    display: flex;
    flex-direction: row;
}

.plus {
    margin-left: 10px;
    margin-top: 10px;
  }
  