.NavBar {
    height: 7vw;
    width: 100%;
    /* opacity: 0.4; */
    background-color: rgba(0, 0, 0, 0.527);
    padding: 10;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
.navbarLinks {
    margin: 30px;
    font-size: 24px;
    color: white;
}

.navbarLinks:hover {
    color: rgb(252, 17, 20);

    font-size: 26px;
}
